
header {
    display:flex;
    justify-content: space-around;
    border-radius: 150px;
    background-color: beige;
    margin-inline: 10px;
    margin-top:5px;
    padding-block: 20px;
}
    
.search {
    display: inline-flex;
    width: -webkit-fill-available;
    width: 140px;
    border: solid 0.1px yellow;
    background-color: #d6c639;
    border-radius: 100px;
    justify-content: space-around;
}
.search img {
    max-width: 45%;
    padding: 10px;
}
.search p {
    padding-bottom:2px;
    color:brown;
    padding-top: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;

}
.search:nth-of-type(3) {
    font-weight: 800;
}


 .miele { 
   display: flex;
    flex-direction: column;
 }
 .miele img {
    width: 100%;
 }
.contenitore {
    display:flex;
    flex-direction: column;
    max-width: 20%;
    border-radius: 100px;
    background-color: beige;
    max-width: 48%;
    overflow: hidden;
    align-items:center;
    padding-bottom:10px;
    margin-bottom: 20px;
}
.contenitore img {
   object-fit: contain;
}
.text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.search.vol2 {
    text-align: center;
}
.text h4 {
    padding-inline:20px;
    font-size:20px;
   color: brown;
   font-weight:700;
   font-family: Arial, Helvetica, sans-serif;
}
.text p {
    font-size:30px;
    color:brown;
}
.search.vol2 {
    padding-bottom: 10px;
    padding-inline: 40px;
}
.search.vol2 p {
    font-size:23px;
    font-family: Arial, Helvetica, sans-serif;
}
.ciao {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1,h2 {
    text-align: start;
    font-size: xx-large;
    font-size:50px;
    color:brown;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.contenitore.vol2 {
    padding-top:20px;
    padding-bottom:30px;
    padding-inline:30px;
    text-align: center;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    max-width: 100%;
    border-radius: 5%;
    
}
.contenitore.vol2 p,h4 {
    text-align:start;
}
.contenitore.vol2 h4 {
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.contenitore.vol2 p {
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.contenitore.vol2 img {
    min-width: 100%;
    object-fit: contain;
}
main {
    max-width: 100%;
}